* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FDFBD4;
    padding: 12px 133px;
    border-bottom: 2px solid #F2C438;
    color: #121212;
}

.logo {
    display: flex;        
    align-items: center;   
    gap: 10px;
}

#emoji {
    font-size: 40px;
    margin-bottom: 5px;
}

#titulo {
    font-size: 25px;
}

main {
    display: flex;          
    justify-content: center; 
    align-items: center;  
    height: 517px;
    background-color:  #fffefef5;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-quote-button {
    padding: 8px;
    font-size: 28px;
    color: #121212;
    background-color: #85EC78D8;
    border: 2px solid #1E8511D8;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 13px;
}

#new-quote-button:hover {
    background-color: #80e073d8;
    border: 2px solid #1b770fd8;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #FDFBD4;
    padding: 10px;
    font-size: 16px;
    border-top: 2px solid #F2C438;
    color: #121212;
}

